<configuration>
<appSettings><add key="HolaMundo.localhost.ECCI_HolaMundo" value="http://localhost:80/CI2413/HolaMundoService.php"/></appSettings><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ECCI_HolaMundoBinding" allowCookies="true" />
                <binding name="ECCI_TicTacToeBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://titanic.ecci.ucr.ac.cr:80/~bsolano/HolaMundoServiceRPCEncoded/"
                binding="basicHttpBinding" bindingConfiguration="ECCI_HolaMundoBinding"
                contract="ECCI_HolaMundo.ECCI_HolaMundoPort" name="ECCI_HolaMundoPort" />
            <endpoint address="http://localhost/TicTacToe-RPC-Encoded/" binding="basicHttpBinding"
                bindingConfiguration="ECCI_TicTacToeBinding" contract="ECCI_TicTacToe.ECCI_TicTacToePort"
                name="ECCI_TicTacToePort" />
        </client>
    </system.serviceModel>
</configuration>
