<configuration>
<appSettings><add key="HolaMundo.localhost.ECCI_HolaMundo" value="http://localhost:80/CI2413/HolaMundoService.php"/></appSettings><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ECCI_TicTacToeBinding" allowCookies="True"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/TicTacToe-RPC-Encoded/" binding="basicHttpBinding"
                bindingConfiguration="ECCI_TicTacToeBinding" contract="ECCI_TicTacToe.ECCI_TicTacToePort"
                name="ECCI_TicTacToePort" />
        </client>
    </system.serviceModel>
</configuration>
