<configuration>
<appSettings><add key="HolaMundo.localhost.ECCI_HolaMundo" value="http://localhost:80/CI2413/HolaMundoService.php"/></appSettings><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ECCI_TicTacToeBinding" />
                <binding name="ECCI_TicTacToeBinding1" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/TicTacToe-RPC-Encoded/" binding="basicHttpBinding"
                bindingConfiguration="ECCI_TicTacToeBinding" contract="ECCI_TicTacToe.ECCI_TicTacToePort"
                name="ECCI_TicTacToePort" />
            <endpoint address="http://localhost/TicTacToe-RPC-Encoded/" binding="basicHttpBinding"
                bindingConfiguration="ECCI_TicTacToeBinding1" contract="ECCI_HolaMundo.ECCI_TicTacToePort"
                name="ECCI_TicTacToePort1" />
        </client>
    </system.serviceModel>
</configuration>
